<head>
</head>
<body>
        <ul>
        <li><a href="entropy">Entropy</a></li>
        <li><a href="fishbots">Fishbots</a></li>
        <li><a href="boulders">Boulders</a></li>
        <li><a href="platformer">Unnamed 3D Platformer</a></li>
        <li><a href="assignment">Assignment Calculator</a></li>
        <li><a href="models">Models</a></li>
        <li><a href="martingale">Martingale</a></li>
        <li><a href="miracle">Miracle</a></li>
        <li><a href="https://gitlab.com/samflam">gitlab</a></li>
        </ul>
</body>
